In [87]:
import pandas as pd
from pyecharts import Bar, Boxplot

# 读取csv数据源文件（源数据条数：32699）
File_path = '/home/ls/tmp/mongodbdump/data/qcwy.csv'
df = pd.read_csv(File_path, delimiter=",", encoding="utf-8")
df = df.drop_duplicates()    # 去重（剩余： 30968）
exp_salary = pd.DataFrame(df.salary.groupby(df['experience']).mean().round(3))    # 以工作经验为索引聚合平均薪水，后计算平均薪水列的平均值保留3位小数（无工作经验项数据与预料有偏差故取3位小数），再生成DataFrame对象

# 初始化Bar()对象
bar = Bar('工作经验——平均月薪',
         title_pos='6%')
bar.add(
    "平均月薪： ",
    exp_salary.index,
    exp_salary.salary,
    label_pos = 'inside',
    # x轴设置
    xaxis_name = '工作经验/年',
    xaxis_name_pos = 'end',
    xaxis_name_gap = 12,
    xaxis_type = 'category',
    # y轴设置
    yaxis_name = 'K/月',
    yaxis_name_pos = 'end',
    yaxis_name_gap = 12,
)
bar.render("工作经验——平均月薪 柱状图.html")

# 画出箱形图查看数据
boxplot = Boxplot("工作经验——平均月薪", title_pos = '6%')
exp_salary = df[['experience', 'salary']]
x_axis = list(set(exp_salary.experience))  # 生成不重复的工作经验索引列表
x_axis.sort()    # 对x轴类目进行排序
y_axis = []     # 声明y轴空列表
for each in x_axis:
    filtrate = exp_salary[exp_salary['experience'] == each]
    y_axis.append(list(filtrate.salary.values))
_yaxis = boxplot.prepare_data(y_axis)
# 为x轴数字元素添加’年‘字
tmp = []
for i in x_axis:
    if '无工作经验' in i:
        tmp.append(i)
    else:
        tmp.append(i + '年')
boxplot.add("最小值、下四分位数、中位数、上四分位数、最大值：",
            tmp,
            _yaxis)
boxplot.render("工作经验——平均月薪 箱形图.html")

In [79]:
x_axis
for each in x_axis:
    filtrate = exp_salary[exp_salary['experience'] == each]
    print(filtrate)

      experience  salary
6              1       6
41             1       4
42             1       7
47             1       9
58             1       6
66             1       4
67             1      10
74             1       7
75             1      29
78             1       9
85             1       7
91             1      27
97             1       7
104            1       7
107            1       7
113            1       9
115            1       6
117            1       7
121            1      10
125            1       8
133            1       5
140            1       8
141            1      11
147            1      11
151            1       3
152            1       8
155            1       7
159            1       7
160            1       5
161            1       5
...          ...     ...
32383          1      12
32389          1      45
32391          1      15
32392          1      15
32407          1       9
32441          1      45
32442          1      12
32458          1       9
32481          1      15
32504          1      12
32549          1      30
32550          1       7
32553          1      12
32555          1      12
32572          1       7
32580          1      15
32582          1      10
32591          1      13
32592          1      12
32594          1      37
32604          1      15
32610          1      11
32612          1       9
32646          1       9
32655          1       8
32659          1       9
32669          1       7
32676          1      14
32686          1       9
32692          1       9

[3251 rows x 2 columns]
      experience  salary
1          无工作经验      11
4          无工作经验      22
5          无工作经验       3
7          无工作经验      17
10         无工作经验       4
14         无工作经验      12
17         无工作经验      22
19         无工作经验      12
21         无工作经验       3
24         无工作经验       7
25         无工作经验       5
26         无工作经验       9
27         无工作经验       8
29         无工作经验       8
34         无工作经验       6
36         无工作经验       9
38         无工作经验       7
39         无工作经验       5
43         无工作经验       3
45         无工作经验       3
49         无工作经验       5
52         无工作经验      12
53         无工作经验      11
59         无工作经验       5
62         无工作经验      15
65         无工作经验      11
68         无工作经验       7
70         无工作经验      27
73         无工作经验       7
77         无工作经验       6
...          ...     ...
32636      无工作经验       7
32638      无工作经验       5
32639      无工作经验      20
32641      无工作经验       5
32642      无工作经验      12
32643      无工作经验       7
32644      无工作经验      12
32648      无工作经验       8
32649      无工作经验      15
32651      无工作经验      14
32653      无工作经验      25
32654      无工作经验      10
32658      无工作经验       6
32662      无工作经验       5
32663      无工作经验       5
32664      无工作经验      12
32665      无工作经验      14
32666      无工作经验      11
32667      无工作经验       9
32668      无工作经验       7
32670      无工作经验       7
32673      无工作经验       5
32674      无工作经验       7
32675      无工作经验       3
32677      无工作经验       5
32680      无工作经验      13
32681      无工作经验       5
32682      无工作经验      12
32683      无工作经验      12
32693      无工作经验      12

[9503 rows x 2 columns]
      experience  salary
2              3      15
8              3       7
13             3      14
16             3      22
18             3      15
28             3      17
31             3      12
35             3      12
48             3      17
51             3      12
54             3      18
56             3      10
61             3      20
64             3      11
76             3      17
82             3      10
87             3      17
94             3      17
95             3      12
99             3      10
100            3      12
108            3      11
110            3      15
112            3      11
114            3      12
122            3       7
126            3      14
130            3      10
137            3      12
138            3      11
...          ...     ...
32573          3      27
32574          3      27
32577          3      35
32587          3      11
32597          3      10
32599          3      30
32600          3      30
32601          3      30
32605          3      40
32607          3      12
32611          3      37
32614          3      11
32616          3      12
32622          3      12
32632          3       9
32640          3      20
32647          3       8
32652          3      12
32657          3      12
32661          3      12
32672          3      14
32678          3       7
32684          3      30
32685          3      17
32687          3      20
32688          3       9
32689          3       8
32691          3       4
32696          3      22
32697          3      20

[8938 rows x 2 columns]
      experience  salary
0              2      12
3              2       6
9              2      10
11             2      10
12             2      12
15             2      11
20             2      11
22             2      12
23             2      12
30             2       7
32             2       8
33             2       9
40             2      12
44             2      17
50             2      10
55             2      12
57             2      11
60             2       7
63             2       9
69             2       6
72             2      17
81             2       9
86             2       7
89             2      10
92             2       6
103            2      15
118            2       9
123            2      14
134            2       7
149            2       7
...          ...     ...
32479          2       9
32487          2      15
32491          2      12
32492          2      12
32502          2      22
32503          2      17
32522          2       9
32525          2       7
32530          2      12
32543          2      20
32545          2       7
32556          2       9
32561          2       7
32569          2      17
32589          2      20
32590          2      22
32593          2      30
32596          2       9
32598          2      15
32606          2      15
32608          2      30
32615          2      12
32637          2      12
32645          2      11
32650          2      15
32656          2       7
32660          2      12
32671          2      12
32690          2       8
32698          2      20

[5638 rows x 2 columns]
      experience  salary
37             5      17
46             5      27
71             5      17
83             5      35
88             5      30
96             5      12
135            5      21
139            5      30
142            5      17
144            5      11
146            5      14
163            5      17
175            5      16
179            5       9
180            5      15
186            5      12
195            5      14
202            5       8
206            5      22
215            5       9
233            5       8
246            5      17
263            5      17
266            5      12
270            5      15
284            5      16
290            5      10
311            5      27
316            5      11
319            5      22
...          ...     ...
32451          5      19
32463          5      12
32466          5      27
32467          5      16
32468          5      22
32469          5      20
32470          5      22
32471          5      22
32472          5      20
32473          5      22
32482          5      15
32493          5      15
32496          5      17
32497          5      22
32511          5      22
32512          5      17
32518          5      22
32535          5      23
32536          5      23
32540          5       9
32547          5      14
32548          5       5
32551          5      11
32568          5      17
32570          5      22
32595          5      30
32602          5      26
32627          5      17
32631          5      12
32695          5      15

[3389 rows x 2 columns]
      experience  salary
170            8      16
205            8      29
409            8      14
413            8      15
494            8      22
535            8      37
949            8      11
1010           8      21
1348           8      10
1544           8      20
1724           8      17
2401           8      30
2405           8      32
2406           8      32
2463           8      27
2759           8      30
3122           8      12
3125           8      35
3689           8      25
4033           8       9
4343           8      15
4363           8      45
4447           8      35
4667           8      25
5119           8      37
5245           8      20
5271           8      30
5342           8      12
5424           8      17
5457           8      24
...          ...     ...
28810          8      22
28887          8      25
29334          8      22
29462          8      22
29479          8      45
29525          8      22
29607          8      45
29754          8      30
29963          8      17
30105          8      19
30247          8      35
30328          8      17
30423          8      40
30476          8      25
30779          8      21
30944          8      22
31237          8      55
31318          8      45
31481          8      45
31586          8      35
31664          8      35
31683          8      35
31782          8      15
31837          8      22
32210          8      16
32227          8      35
32286          8      22
32302          8      58
32372          8      25
32558          8      25

[249 rows x 2 columns]